* {
  padding: 0;
  margin: 0;
}
body {
  /*font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;*/
  font-family: 'Yrsa', serif;
}
ul {
  list-style: none;
}
p {
  font-size: 17px;
  color: #232323;
}
h2 {
  font-size: 19px;
}
h3 {
  font-size: 18px;
  font-weight: normal;
}
html, body, #app, #mapBox, #map, .h100{
  height: 100%;
}
#opacity-container {
  position: absolute;
  z-index: 1;
  bottom: 64px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
}
#infoCard {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  background-color:rgba(255,255,255,0.9);
  display: none;
}
.infoCardContent {
  padding: 20px 10px;
  max-width: 560px;
  max-height: 150px;
  margin: 0 auto;
  overflow-y: scroll;
}
@media (max-height: 600px) {
  
}
@media (max-height: 450px) {
  
}
@media (max-height: 320px) {
  
}
.infoCardContent h2 {
  margin-bottom: 10px;
  border-bottom: 1px solid #232323;
  text-transform: uppercase;
  text-align: center;
}
.toggleInfoCard {
  position: absolute;
  bottom: -23px;
  right: 0;
  background-color: #bbb;
  padding: 3px 5px;
  font-size: 14px;
  cursor: pointer;
  border-bottom-left-radius: 5px;
}

/******** menu ********/
#menuContainer {
  position: absolute;
  z-index: 1000001;
  top: 0;
  left: 0;
}
.openMenu, .closeMenu, #menu p {
  cursor: pointer;
}
#menuContainer .infoText,
#menuContainer .infoTextHidden {
  cursor: initial;
  padding: 0 10px;
  margin-bottom: 15px;
}
#menuContainer .infoTextHidden {
  cursor: pointer;
}
.openMenu {
  position: relative;
  margin: 10px 0px 0px 10px;
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.openMenu img {
  position: absolute;
  top: 15px;
  left: 12px;
}
.closeMenu {
  text-align: right;
  padding: 10px 10px;
  margin-bottom: 15px;
  background-color: #bbb;
}
.closeMenu img {
  vertical-align: bottom;
}
#menu {
  background-color: #ffffff;
  height: 100vh;
  overflow-y: scroll;
  width: 256px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 2px 0px 10px #000;
}
#menu h3 {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 2px;
  border-bottom: 1px solid #232323;
}
#menu ul {
  margin-bottom: 50px;
}
#menu li {
  margin-bottom: 15px;
  padding: 0 10px;
}
#menu li.selected {
  background: url('/img/check.png') no-repeat 95% 47%;
}
#menu .separator {
  margin: 0px auto 20px;
  border-bottom: 1px solid #444;
}

/******** range styling ********/
input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 13.5px 0;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  box-shadow: 1.3px 1.3px 2.5px #000000, 0px 0px 1.3px #0d0d0d;
  background: #ffffff;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 1px 1px 1.5px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid #dddddd;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: rgba(187, 187, 187, 0.97);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -13.5px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  box-shadow: 1.3px 1.3px 2.5px #000000, 0px 0px 1.3px #0d0d0d;
  background: #ffffff;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 1px 1px 1.5px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid #dddddd;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: rgba(187, 187, 187, 0.97);
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: #b5b5b5;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1.3px 1.3px 2.5px #000000, 0px 0px 1.3px #0d0d0d;
}
input[type=range].slider::-ms-fill-upper {
  background: #ffffff;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1.3px 1.3px 2.5px #000000, 0px 0px 1.3px #0d0d0d;
}
input[type=range].slider::-ms-thumb {
  box-shadow: 1px 1px 1.5px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid #dddddd;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: rgba(187, 187, 187, 0.97);
  cursor: pointer;
  height: 3px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #ffffff;
}



/******** shortener ********/
.relative {
  position: relative;
}