* {
  padding: 0;
  margin: 0;
}
html, body, #app, #mapBox, #map, .h100{
  height: 100%;
}
#opacity-container {
  position: absolute;
  z-index: 1;
  top: 64px;
  right: 19%;
  padding: 0px 4px;
  background-color: #eceff1;
  width: 200px;
}
#menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  z-index: 2;
  background-color: #1976d2;
}

/********** Materialize *********/
input[type=range] {
  border: none;
}

input[type=range]+.thumb.active {
  display: none;
}