* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
ul {
  list-style: none;
}
p {
  font-size: 14px;
}
h2 {
  font-size: 17px;
}
html, body, #app, #mapBox, #map, .h100{
  height: 100%;
}
#opacity-container {
  position: absolute;
  z-index: 1;
  bottom: 64px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
}
#infoCard {
  position: fixed;
  top: 43px;
  left: 0;
  width: 100%;
  background-color:rgba(255,255,255,0.9);
  display: none;
}
.infoCardContent {
  padding: 20px 10px;
  max-width: 560px;
  max-height: 150px;
  margin: 0 auto;
  overflow-y: scroll;
}
.infoCardContent h2 {
  margin-bottom: 10px;
  border-bottom: 1px solid #000;
  text-transform: uppercase;
}
.toggleInfoCard {
  position: absolute;
  bottom: -21px;
  right: 0;
  background-color: #1e88e5;
  padding: 3px 5px;
  color: #FFF;
  font-size: 13px;
  cursor: pointer;
}

@media all and (max-width: 800px) {
  #menu {
    position: relative;
    top: initial;
    left: initial;
  }
  #mapBox {
    height: 93%;
  }
}

/******** menu ********/
.dummyImg {
  width: 150px;
  height: 150px;
  background-color: #FFF;
}
#mapsMenu, #poiMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 14px;
  z-index: 10001;
  background-color: #0C3763;
}
.menuTag {
  height: 4px;
  background-color: #1976d2;
}
.menuTag .menuTrigger{
  position: absolute;
  left: 50%;
  color: #FFF;
  cursor: pointer;
  background-color: #1976d2;
}
#mapsMenu .menuTrigger {
  bottom: -20px;
  margin-left: -40px;
  border-radius: 0px 0px 5px 5px;
  padding: 0px 16px 4px;
}
#poiMenu .menuTrigger {
  top: -20px;
  margin-left: -89px;
  border-radius: 5px 5px 0px 0px;
  padding: 4px 16px 0px;
}


/******** carousel ********/
.carousel ul {
  text-align: center;
  font-size: 0; /* fix inline-block whitespace */
}
.carousel ul li {
  display: inline-block;
  margin-right: 1px;
}
.carousel ul li:last-child {
  margin-right: 0px;
}

.slick-slider {
  width: 600px;
  margin: 0 auto;
  position: relative;
}
.slick-list {
  overflow: hidden;
}
.slick-slide {
  float: left;
  height: 150px;
  cursor: pointer;
}
.slick-slide:hover {
  opacity: .9;
}
.slick-arrow {
  position: absolute;
  top: 0;
  height: 150px;
  width: 50px;
  border: none;
  cursor: pointer;
  font-size: 0;
  outline: none;
}
.slick-arrow:hover {
  opacity: .7;
}
.slick-prev {
  left: -50px;
  background: #0D47A1 url('/img/left_arrow.png') no-repeat 6px 8px;
}
.slick-next {
  right: -50px;
  background: #0D47A1 url('/img/right_arrow.png') no-repeat 10px 8px;
}

/******** range styling ********/
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

/******** shortener ********/
.relative {
  position: relative;
}